Proxima_Core_1.txt
Proxima_Core_2.txt
Proxima_Core_3.txt
Proxima_conductive_mantle_1.txt
Proxima_conductive_mantle_2.txt
Proxima_conductive_mantle_3.txt
Proxima_lower_mantle_1.txt
Proxima_lower_mantle_2.txt
Proxima_lower_mantle_3.txt
Proxima_lower_mantle_1B.txt
Proxima_lower_mantle_2B.txt
Proxima_lower_mantle_3B.txt
Proxima_upper_mantle_1.txt
Proxima_upper_mantle_2.txt
Proxima_upper_mantle_3.txt
Proxima_conductive_Upmantle_1.txt
Proxima_conductive_Upmantle_2.txt
Proxima_conductive_Upmantle_3.txt
Proxima_conductive_crust_1.txt
Proxima_conductive_crust_2.txt
Proxima_conductive_crust_3.txt